<table>
  <tbody>
  <tr>
    <th>Поле с типом активности</th>
    <td>
      <%= select_tag("settings[activity_field]",
                     options_from_collection_for_select(TimeEntryCustomField.where(field_format: 'list').all, "id", "name", settings['activity_field'])) %>
    </td>
  </tr>
  <tr>
    <th>Поле с оценкой для клиента</th>
    <td>
      <%= select_tag("settings[estimated_field]",
                     options_from_collection_for_select(IssueCustomField.where(field_format: 'float').all, "id", "name", settings['estimated_field'])) %>
    </td>
  </tr>
  <tr>
    <th>Коэффициент лимита трудозатрат</th>
    <td>
      <%= number_field_tag("settings[max_ratio]", value = settings['max_ratio'], min: 1, step: 0.05, required: "required", style: "width: 50px;") %>
    </td>
  </tr>
  </tbody>
</table>

<%= link_to 'Типы Активности в зависимости от трекера и статуса', trackers_statuses_activities_path %>