<table>
  <tbody>
  <tr>
    <th>Поле с типом активности</th>
    <td>
      <%= select_tag("settings[activity_field]",
                     options_from_collection_for_select(TimeEntryCustomField.all, "name", "name", settings['activity_field'])) %>
    </td>
  </tr>
  </tbody>
</table>

<%= link_to 'Типы Активности в зависимости от трекера и статуса', trackers_statuses_activities_path %>