<h2>
  <%= title [l(:label_plugins), {:controller => 'admin', :action => 'plugins'}],
            [@plugin.name, "/settings/plugin/#{PLUGIN_NAME}"],
            'Типы Активности в зависимости от трекера и статуса'
  %>
  </h2>
<div id="settings">
  <%= render 'select_tracker_form' %>
  <%= render 'statuses_activities_form' %>
  |
  <%= link_to 'Назад', "/settings/plugin/#{PLUGIN_NAME}" %>
</div>